body {
    display: flex   ;
    gap: 300px;
}

.grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;

}

.square {
    height: 198px;
    width: 198px;
    border: solid black 1px;
}

.mole {
    background-color: blue;
}

.play-game {
    padding: 10px 20px;
    background-color: aqua;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    font-size: 20px;
}

.play-game:hover {
    cursor: pointer;
    opacity: .8;
}