/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
} */

div {
    border: solid black 1px;
    /* height: 500px; */
}

#container {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-top: 50px;
}

#container {
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-top: 50px;
}

.player-side,
.computer-side {
    flex: 3; /* Each side div takes up 3 units of the available space */
    display: flex;
    flex-direction: column;
}

.side-text {
    text-align: center;
    flex: 1;
}

.result-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 8;
    gap: 30px;
}

.result-box {
    border: dotted black 1px;
    height: 100px;
    width: 100px;
    
}

.main {
    flex: 10; /* The main div takes up 4 units of the available space */
    display: flex;
    flex-direction: column;
}

.result-display {
    flex: 8;
    display: flex;
}

.player,
.computer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-choice,
.computer-choice {
    border: solid black 1px;
    height: 200px;
    width: 200px;
    margin: auto;
}

.player-img,
.computer-img {
    height: 100%;
    width: 100%;
}

.player-name,
.player-status,
.computer-name,
.computer-status {
    margin: 30px 0;
    text-align: start;
}

.options {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.option {
    height: 100px;
    width: 100px;
    border: dotted black  1px;
}
